<div class="wrapper">
  <h1 class="title">Rules</h1>
  <div class="rules">
    <ol>
      <li>All participants must be currently enrolled in a US-based university and must be at least 18 years old.</li>
      <li>Be respectful to other attendees: no harassment and no offensive imagery or language.</li>
      <li>Teams can have up to 4 people.</li>
      <li>Teams can plan for the project beforehand. Planning includes brainstorming, UMLs, concept art, to-do-lists, wireframes, etc.</li>
      <li>All coding on a project should be done at the hackathon.</li>
      <li>All teams retain full ownership of what they create during AppHack.</li>
      <li>Teams can use libraries, frameworks, or open-source code in their projects. However, creating an open-source project before the event for the sole purpose of working on it during the event is against the rules.</li>
      <li>Asking for help is okay during the event. We will try our best to help you debug a problem. You can also ask for help from a mentor sent by our sponsors.</li>
      <li>Teams can use an idea they had before the event.</li>
      <li>At least one team member must be present for the virtual demo fair. Prizes will not be awarded to teams that are not present.</li>
      <li>Graduate students are allowed to work with undergraduate students. However, any project a graduate student works on will be judged in the "graduate" category, even if undergraduate students are also on their team.</li>
    </ol>
  </div>
</div>