.clubs {
	background: #ffc306;
	margin-top: 100px;
	padding: 40px;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
    font-family: 'Montserrat', sans-serif;
	border-radius: 20px;
	display: block;
}

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.club-parent {
		flex-direction: column;
		width: 100%;
	}

	.club-box {
		width: 80%;
	}
}

.club-pic img {
	height: 200px;
	margin: auto;
}

.club-pic {
	margin-top: 40px;
}

.club-parent {
	display: flex;
	text-align: center;
}

.club-box {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	display: flex;
	/*flex-wrap: wrap;*/
	flex-direction: column;
	width: 45%;
	margin: auto;
	height: 500px;
}

.club-box:hover {
	background: rgba(255, 255, 255, 0.8);;
}

.club-name {
	font-weight: bold;
	margin: auto;
	width: 60%;
	font-size: 20px;
}

.club-description {
	width: 80%;
	margin: auto;
}

h1 {
	font-size: 40px;
	font-weight: bold;
}

h4 {
	font-size: 20px;
	font-weight: 400;
}