
@media only screen and (min-width : 320px) {
	.club-pic img {
		margin: auto;
		height: auto;
		max-width: 50%;
	}

	.club-pic {
		margin-top: 40px;
	}

	.club-parent {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.club-box {
		background: rgba(255, 255, 255, 0.5);
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: auto;
		height: auto;
		margin-top: 20px;
		padding-top: 1%;
	}

	.club-box:hover {
		background: rgba(255, 255, 255, 0.8);;
	}

	.club-name {
		font-weight: bold;
		margin: auto;
		width: 60%;
		font-size: 20px;
	}

	.club-description {
		width: 80%;
		margin: auto;
	}
}

@media only screen and (min-width : 768px) and (max-width: 1023px) {
	.club-pic img {
		margin: auto;
		height: auto;
		max-width: 50%;
	}

	.club-pic {
		margin-top: 40px;
	}

	.club-parent {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.club-box {
		background: rgba(255, 255, 255, 0.5);
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: auto;
		height: auto;
		margin-top: 20px;
		padding-top: 1%;

	}

	.club-box:hover {
		background: rgba(255, 255, 255, 0.8);
	}

	.club-name {
		font-weight: bold;
		margin: auto;
		width: 60%;
		font-size: 20px;
	}

	.club-description {
		width: 80%;
		margin: auto;
	}
}

@media only screen and (min-width : 1024px) {
	.club-pic img {
		margin: auto;
		height: auto;
		max-width: 50%;
	}

	.club-pic {
		margin-top: 40px;
	}

	.club-parent {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.club-box {
		background: rgba(255, 255, 255, 0.5);
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: auto;
		margin-top: 20px;
		padding-top: 1%;
	}

	.club-box:hover {
		background: rgba(255, 255, 255, 0.8);;
	}

	.club-content {
		padding-top: 50px;
	}

	.club-name {
		font-weight: bold;
		margin: auto;
		width: 60%;
		font-size: 20px;
	}

	.club-description {
		width: 80%;
		margin: auto;
	}
}


.clubs {
	background: #00bbff;
	margin-top: 5%;
	padding: 40px;
	max-width: 70%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	display: block;
}

a {
	text-decoration: none;
	color: #000000;
	padding: 20px;
}


h1 {
	font-size: 40px;
	font-weight: bold;
}

h4 {
	font-size: 20px;
	font-weight: 400;
}