<div class="about-wrapper">
	<h1>History of AppHack</h1>
	<div class="about-info">
		<p>AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 AppHack first started in 2010 </p>
		<div class="image-wrapper">
			<div class="image-flex-wrapper">
				<img src="assets/archive-photos/DSC00300.JPG" class="image"/>
				<img src="assets/archive-photos/DSC00322.JPG" class="image"/>
				<img src="assets/archive-photos/DSC00314.JPG" class="image"/>
				<img src="assets/archive-photos/DSC00277.JPG" class="image"/>
			</div>
		</div>
	</div>
</div>
<app-clubs></app-clubs>
