/*.topNavBar {
  background-color: Transparent;
  overflow: hidden;
}
*/

.navbar-wrapper {
  height: 101px;
}

.navbar {
  background-color: #fff;
  margin-bottom: 100px;
  padding-bottom: 1px;
  padding-right: 10px;
  width: 100%;
}

.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
}

ul {
  display: inline
}

li {
  display: inline
}

.nav-item a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.nav-link:hover {
  background: #ffcf78;
}