<div class="title-everything-wrapper" id="main">
	<div class="title-wrapper" id="main">
		<div class="wrapper">
			<p class="apphack-title">VIRTUAL:<span class="hack">AppHack</span></p>
			<h1 class="title">Hacking in the High Country!</h1>
			<h4 class="info">March 26-28, 2021 | Appalachian State University</h4>
			<h4 class="info">More information to come soon</h4>
			<!-- <button class="register-button">
				<a
					href="https://bit.ly/AppHack2020"
					target="_blank"
					>REGISTER</a
				>
			</button> -->
		</div>
		<div>
			<app-info></app-info>
			<!-- <div id="sponsors">
				<app-sponsors></app-sponsors>
			</div> -->
			<div id="clubs">
				<app-clubs></app-clubs>
			<div>
		</div>
	</div>
</div>
