.title-wrapper {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 150px;
    margin-left: 200px;
    width: 80%;
    float: left;
    display: block;
}

.title {
	font-size: 40px;
	font-weight: lighter;
	margin: 0;
}

.apphack-title {
	font-size: 80px;
	font-weight: bolder;
	margin: 0;
}

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.title-wrapper {
		margin-left: 20px;
		overflow: hidden;
	}

	.title {
		font-size: 20px;
	}

	.apphack-title {
		font-size: 40px;
	}
}

.hack {
	color: #ffc306;
}

.logo {
	float: right;
	margin-right: 300px; 
}

.appcslogo {
	width: 500px;
}

button {
	background-color: #ffc306;
	border-radius: 20px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
  background: #ffcf78;
}

a {
	text-decoration: none;
	color: black;
}

h4 {
	font-weight: lighter;
}
