
@media only screen and (min-width : 320px) {
	.title-wrapper {
		font-family: 'Montserrat', sans-serif;
	    margin-bottom: 150px;
	    float: left;
	    display: block;
	    overflow: hidden;
	}

	.title {
		font-size: 20px;
		font-weight: lighter;
		margin-left: 10%;
	}

	.apphack-title {
		font-size: 60px;
		font-weight: bolder;
		margin-left: 10%;
	}

	.info {
		margin-left: 10%;
	}

	button {
		background-color: #ffc306;
		border-radius: 20px;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 15px;
	    font-family: 'Montserrat', sans-serif;
	    margin-left: 10%;
	}
}

@media only screen and (min-width : 768px) and (max-width: 1023px) {
	.title-wrapper {
		font-family: 'Montserrat', sans-serif;
	    margin-bottom: 150px;
	    float: left;
	    display: block;
	    overflow: hidden;
	}

	.title {
		font-size: 40px;
		font-weight: lighter;
		margin-left: 10%;
	}

	.apphack-title {
		font-size: 80px;
		font-weight: bolder;
		margin-left: 10%;
	}

	.info {
		margin-left: 10%;
	}

	button {
		background-color: #ffc306;
		border-radius: 20px;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 15px;
	    font-family: 'Montserrat', sans-serif;
	    margin-left: 10%;
	}
}

@media only screen and (min-width : 1024px) {
	.title-wrapper {
	    font-family: 'Montserrat', sans-serif;
	    margin-bottom: 150px;
	    margin-left: 200px;
	    width: 80%;
	    float: left;
	    display: block;
	}

	.title {
		font-size: 40px;
		font-weight: lighter;
		margin: 0;
	}

	.apphack-title {
		font-size: 80px;
		font-weight: bolder;
		margin: 0;
	}

	.info {
		margin-left: 0;
	}

	button {
		background-color: #ffc306;
		border-radius: 20px;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 15px;
	    font-family: 'Montserrat', sans-serif;
	    margin-left: 0;
	}
}

.hack {
	color: #ffc306;
}

.logo {
	float: right;
	margin-right: 300px; 
}

.appcslogo {
	width: 500px;
}



button:hover {
  background: #ffcf78;
}

a {
	text-decoration: none;
	color: black;
}

h4 {
	font-weight: lighter;
}
