.info-tile {
	background: #ffc306;
	padding: 40px;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
    font-family: 'Montserrat', sans-serif;
	border-radius: 20px;
	display: block;
}

.info-parent {
	width: 80%;
	margin: auto;
}

h1 {
	font-size: 40px;
}