<div class="top">
	<!-- Mountain artwork by Jack Arrington -->
	<app-navbar></app-navbar>
	<app-title></app-title>
</div>
<div>
	<a href="#top"><img src="../assets/buttons/scroll-to-top.png" class="scroll-to-top"></a>

	<div id="main">
		<app-info></app-info>
	</div>
	<div id="faq">
		<app-faq></app-faq>
	</div>
	<div id="clubs">
		<app-clubs></app-clubs>
	</div>
	<div id="sponsors">
		<app-sponsors></app-sponsors>
	</div>
	<div class="footer">
		<div class="wrap">
	        <div class="copy">
	                        <p>Run by the Appalachian State University <a href="http://compsci.appstate.edu">Department of Computer Science</a></p>
	                </div>
	        <div class="footer-text">
	                <ul class="follow_icon">
	                        <li><a href="https://www.facebook.com/asucs" style="opacity: 1;" target="_blank"><img src="../assets/fb.png" alt="Facebook"></a></li>
	                        <li><a href="https://twitter.com/appstatecompsci" style="opacity: 1;" target="blank"><img src="../assets/tw.png" alt="Twitter"></a></li>
	                </ul>
	        </div>
		</div>
	</div>
</div>
