.top {
	background-image: url('../assets/mountains.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	overflow: none;
	height: 100vh;
	width: 100vw;
}

.scroll-to-top {
    width: 40px;
    position: sticky;
    top: 50px;
    float: right;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.footer {
	margin-top:150px;
	background: black;
	text-align:center;
	padding:3% 0;
}
.footer-text h2{
    color: white;
    font-size:3em;
    font-family: 'Montserrat', sans-serif;
    text-transform:capitalize;
    margin-bottom:2%;
}
.footer-text p{
    float:left;
    font-size:0.8125em;
    font-family: 'Montserrat', sans-serif;
    line-height:1.5em;
    color:#fff;
}

.follow_icon {
    list-style: none;
    padding: 2% 0;
}

.follow_icon li a img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    text-decoration: none;
}

ul.follow_icon li {
    display: inline-block;
    margin-left:15px;
}
.follow_icon li a img {
    vertical-align: middle;
}
.copy p{
        color:#fff;
        font-size:1.2em;
        font-family: 'Montserrat', sans-serif;
}
.copy p a{
        color:#FFCA0D;
        text-decoration: none;
}
.copy p a:hover{
        color:#19a9ff;
}