<div class="sponsors">
	<h1>Sponsors</h1>
	<!-- Insight -->
	<a href="https://www.insight.com/en_US/about/overview.html"><img src="../assets/sponsors/insight.png" style="max-width: 300px; margin: 1%;"/></a>
	<!-- Truist -->
	<a href="https://www.truist.com/"><img src="../assets/sponsors/truist.png" style="max-width: 300px; margin: 1%;"/></a>
	<!-- CGI -->
	<a href="https://www.truist.com/"><img src="../assets/sponsors/cgi.png" style="max-width: 200px; margin: 1%;"/></a>
	<!-- FDM -->
	<a href="https://www.truist.com/"><img src="../assets/sponsors/fdm.png" style="max-width: 300px; margin: 1%;"/></a>
	<!-- Inmar -->
	<a href="https://www.truist.com/"><img src="../assets/sponsors/inmar.png" style="max-width: 300px; margin: 1%;"/></a>
</div>