<div class="sponsors">
	<h1>Our Sponsors</h1>
	<!-- CommScope -->
	<a href="https://www.commscope.com/" target="_blank"><img src="assets/sponsors/commscope.jpg" style="max-width: 300px; margin: 2%;"/></a>
	<!-- Google Data Center -->
	<a href="https://www.google.com/about/datacenters/locations/lenoir/" target="_blank"><img src="assets/sponsors/googledc.png" style="max-width: 300px; margin: 2%;"/></a>
	<!-- Eastman -->
	<a href="https://www.eastman.com/Pages/Home.aspx" target="_blank"><img src="assets/sponsors/eastman.jpg" style="max-width: 300px; margin: 2%;"/></a>
	<!-- iRODS -->
	<a href="https://renci.org/research/irods/" target="_blank"><img src="assets/sponsors/irods.png" style="max-width: 250px; margin: 2%;"/></a>
	<!-- JSA -->
	<a href="https://www.jsausa.com/site/" target="_blank"><img src="assets/sponsors/jsa.jpg" style="max-width: 250px; margin: 2%;"/></a>
</div>